# Ignore files
media/
db.sqlite3
notification/
# Ignore environment-specific files
.env

# Ignore system-specific files
*.pyc
**/__pycache__/


# Ignore IDE and editor-specific files
.vscode/
.idea/

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Django migration files
**/migrations/







# Ignore PostgreSQL database dumps
*.sql
*.sql.gz
*.backup

# Ignore PostgreSQL logs
pg_log/
*.log

# Ignore PostgreSQL data directories (if any)
pgdata/
